.dark-high-contrast {
  --md-sys-color-primary: rgb(236 239 255);
  --md-sys-color-surface-tint: rgb(173 198 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(168 195 252);
  --md-sys-color-on-primary-container: rgb(0 10 34);
  --md-sys-color-secondary: rgb(236 239 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(187 194 216);
  --md-sys-color-on-secondary-container: rgb(4 11 27);
  --md-sys-color-tertiary: rgb(255 234 253);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(218 184 219);
  --md-sys-color-on-tertiary-container: rgb(23 3 28);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(17 19 24);
  --md-sys-color-on-background: rgb(226 226 233);
  --md-sys-color-surface: rgb(17 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(68 71 79);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(238 239 249);
  --md-sys-color-outline-variant: rgb(192 194 204);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 226 233);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(44 71 121);
  --md-sys-color-primary-fixed: rgb(216 226 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(173 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 16 45);
  --md-sys-color-secondary-fixed: rgb(219 226 249);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(191 198 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(9 17 33);
  --md-sys-color-tertiary-fixed: rgb(251 215 252);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(222 188 223);
  --md-sys-color-on-tertiary-fixed-variant: rgb(30 8 34);
  --md-sys-color-surface-dim: rgb(17 19 24);
  --md-sys-color-surface-bright: rgb(78 80 86);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(30 31 37);
  --md-sys-color-surface-container: rgb(47 48 54);
  --md-sys-color-surface-container-high: rgb(58 59 65);
  --md-sys-color-surface-container-highest: rgb(69 71 76);
  --md-extended-color-custom-color1-color: rgb(224 243 255);
  --md-extended-color-custom-color1-on-color: rgb(0 0 0);
  --md-extended-color-custom-color1-color-container: rgb(137 203 237);
  --md-extended-color-custom-color1-on-color-container: rgb(0 13 21);
  --md-extended-color-custom-color2-color: rgb(193 255 202);
  --md-extended-color-custom-color2-on-color: rgb(0 0 0);
  --md-extended-color-custom-color2-color-container: rgb(149 208 159);
  --md-extended-color-custom-color2-on-color-container: rgb(0 15 3);
  --md-extended-color-custom-color3-color: rgb(255 240 178);
  --md-extended-color-custom-color3-on-color: rgb(0 0 0);
  --md-extended-color-custom-color3-color-container: rgb(213 195 108);
  --md-extended-color-custom-color3-on-color-container: rgb(14 11 0);
  --md-extended-color-custom-color4-color: rgb(255 236 232);
  --md-extended-color-custom-color4-on-color: rgb(0 0 0);
  --md-extended-color-custom-color4-color-container: rgb(255 175 158);
  --md-extended-color-custom-color4-on-color-container: rgb(32 1 0);
  --md-extended-color-custom-color5-color: rgb(255 237 217);
  --md-extended-color-custom-color5-on-color: rgb(0 0 0);
  --md-extended-color-custom-color5-color-container: rgb(239 185 107);
  --md-extended-color-custom-color5-on-color-container: rgb(19 9 0);
  --md-extended-color-custom-color6-color: rgb(255 235 240);
  --md-extended-color-custom-color6-on-color: rgb(0 0 0);
  --md-extended-color-custom-color6-color-container: rgb(251 172 203);
  --md-extended-color-custom-color6-on-color-container: rgb(32 0 16);
  --md-extended-color-custom-color7-color: rgb(255 236 230);
  --md-extended-color-custom-color7-on-color: rgb(0 0 0);
  --md-extended-color-custom-color7-color-container: rgb(255 176 144);
  --md-extended-color-custom-color7-on-color-container: rgb(28 5 0);
  --md-extended-color-custom-color8-color: rgb(255 236 233);
  --md-extended-color-custom-color8-on-color: rgb(0 0 0);
  --md-extended-color-custom-color8-color-container: rgb(255 174 161);
  --md-extended-color-custom-color8-on-color-container: rgb(34 0 0);
  --md-extended-color-custom-color9-color: rgb(170 255 254);
  --md-extended-color-custom-color9-on-color: rgb(0 0 0);
  --md-extended-color-custom-color9-color-container: rgb(124 209 208);
  --md-extended-color-custom-color9-on-color-container: rgb(0 14 14);
}
