.dark {
  --md-sys-color-primary: rgb(173 198 255);
  --md-sys-color-surface-tint: rgb(173 198 255);
  --md-sys-color-on-primary: rgb(16 47 96);
  --md-sys-color-primary-container: rgb(43 70 120);
  --md-sys-color-on-primary-container: rgb(216 226 255);
  --md-sys-color-secondary: rgb(191 198 220);
  --md-sys-color-on-secondary: rgb(41 48 65);
  --md-sys-color-secondary-container: rgb(63 71 89);
  --md-sys-color-on-secondary-container: rgb(219 226 249);
  --md-sys-color-tertiary: rgb(222 188 223);
  --md-sys-color-on-tertiary: rgb(64 40 67);
  --md-sys-color-tertiary-container: rgb(88 62 91);
  --md-sys-color-on-tertiary-container: rgb(251 215 252);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(17 19 24);
  --md-sys-color-on-background: rgb(226 226 233);
  --md-sys-color-surface: rgb(17 19 24);
  --md-sys-color-on-surface: rgb(226 226 233);
  --md-sys-color-surface-variant: rgb(68 71 79);
  --md-sys-color-on-surface-variant: rgb(196 198 208);
  --md-sys-color-outline: rgb(142 144 153);
  --md-sys-color-outline-variant: rgb(68 71 79);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 226 233);
  --md-sys-color-inverse-on-surface: rgb(47 48 54);
  --md-sys-color-inverse-primary: rgb(68 94 145);
  --md-sys-color-primary-fixed: rgb(216 226 255);
  --md-sys-color-on-primary-fixed: rgb(0 26 65);
  --md-sys-color-primary-fixed-dim: rgb(173 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(43 70 120);
  --md-sys-color-secondary-fixed: rgb(219 226 249);
  --md-sys-color-on-secondary-fixed: rgb(20 27 44);
  --md-sys-color-secondary-fixed-dim: rgb(191 198 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(63 71 89);
  --md-sys-color-tertiary-fixed: rgb(251 215 252);
  --md-sys-color-on-tertiary-fixed: rgb(41 19 45);
  --md-sys-color-tertiary-fixed-dim: rgb(222 188 223);
  --md-sys-color-on-tertiary-fixed-variant: rgb(88 62 91);
  --md-sys-color-surface-dim: rgb(17 19 24);
  --md-sys-color-surface-bright: rgb(55 57 62);
  --md-sys-color-surface-container-lowest: rgb(12 14 19);
  --md-sys-color-surface-container-low: rgb(26 27 32);
  --md-sys-color-surface-container: rgb(30 31 37);
  --md-sys-color-surface-container-high: rgb(40 42 47);
  --md-sys-color-surface-container-highest: rgb(51 53 58);
  --md-extended-color-custom-color1-color: rgb(141 207 242);
  --md-extended-color-custom-color1-on-color: rgb(0 53 72);
  --md-extended-color-custom-color1-color-container: rgb(0 77 103);
  --md-extended-color-custom-color1-on-color-container: rgb(193 232 255);
  --md-extended-color-custom-color2-color: rgb(153 212 162);
  --md-extended-color-custom-color2-on-color: rgb(0 57 24);
  --md-extended-color-custom-color2-color-container: rgb(24 81 43);
  --md-extended-color-custom-color2-on-color-container: rgb(180 241 189);
  --md-extended-color-custom-color3-color: rgb(217 199 111);
  --md-extended-color-custom-color3-on-color: rgb(57 48 0);
  --md-extended-color-custom-color3-color-container: rgb(82 71 0);
  --md-extended-color-custom-color3-on-color-container: rgb(246 227 136);
  --md-extended-color-custom-color4-color: rgb(255 180 165);
  --md-extended-color-custom-color4-on-color: rgb(86 31 20);
  --md-extended-color-custom-color4-color-container: rgb(115 52 39);
  --md-extended-color-custom-color4-on-color-container: rgb(255 218 211);
  --md-extended-color-custom-color5-color: rgb(243 189 110);
  --md-extended-color-custom-color5-on-color: rgb(68 43 0);
  --md-extended-color-custom-color5-color-container: rgb(98 64 0);
  --md-extended-color-custom-color5-on-color-container: rgb(255 221 177);
  --md-extended-color-custom-color6-color: rgb(255 176 207);
  --md-extended-color-custom-color6-on-color: rgb(83 29 55);
  --md-extended-color-custom-color6-color-container: rgb(110 51 78);
  --md-extended-color-custom-color6-on-color-container: rgb(255 217 229);
  --md-extended-color-custom-color7-color: rgb(255 181 152);
  --md-extended-color-custom-color7-on-color: rgb(85 32 7);
  --md-extended-color-custom-color7-color-container: rgb(113 54 28);
  --md-extended-color-custom-color7-on-color-container: rgb(255 219 206);
  --md-extended-color-custom-color8-color: rgb(255 180 167);
  --md-extended-color-custom-color8-on-color: rgb(86 30 22);
  --md-extended-color-custom-color8-color-container: rgb(115 52 42);
  --md-extended-color-custom-color8-on-color-container: rgb(255 218 212);
  --md-extended-color-custom-color9-color: rgb(128 213 212);
  --md-extended-color-custom-color9-on-color: rgb(0 55 55);
  --md-extended-color-custom-color9-color-container: rgb(0 79 79);
  --md-extended-color-custom-color9-on-color-container: rgb(156 241 240);
}
