.dark-medium-contrast {
  --md-sys-color-primary: rgb(206 220 255);
  --md-sys-color-surface-tint: rgb(173 198 255);
  --md-sys-color-on-primary: rgb(0 36 84);
  --md-sys-color-primary-container: rgb(119 145 199);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(212 220 243);
  --md-sys-color-on-secondary: rgb(30 38 54);
  --md-sys-color-secondary-container: rgb(137 145 165);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(245 209 245);
  --md-sys-color-on-tertiary: rgb(52 29 56);
  --md-sys-color-tertiary-container: rgb(166 135 168);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 19 24);
  --md-sys-color-on-background: rgb(226 226 233);
  --md-sys-color-surface: rgb(17 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(68 71 79);
  --md-sys-color-on-surface-variant: rgb(218 220 230);
  --md-sys-color-outline: rgb(176 177 187);
  --md-sys-color-outline-variant: rgb(142 144 153);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 226 233);
  --md-sys-color-inverse-on-surface: rgb(40 42 47);
  --md-sys-color-inverse-primary: rgb(44 71 121);
  --md-sys-color-primary-fixed: rgb(216 226 255);
  --md-sys-color-on-primary-fixed: rgb(0 16 45);
  --md-sys-color-primary-fixed-dim: rgb(173 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(23 53 102);
  --md-sys-color-secondary-fixed: rgb(219 226 249);
  --md-sys-color-on-secondary-fixed: rgb(9 17 33);
  --md-sys-color-secondary-fixed-dim: rgb(191 198 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(46 54 71);
  --md-sys-color-tertiary-fixed: rgb(251 215 252);
  --md-sys-color-on-tertiary-fixed: rgb(30 8 34);
  --md-sys-color-tertiary-fixed-dim: rgb(222 188 223);
  --md-sys-color-on-tertiary-fixed-variant: rgb(70 45 73);
  --md-sys-color-surface-dim: rgb(17 19 24);
  --md-sys-color-surface-bright: rgb(67 68 74);
  --md-sys-color-surface-container-lowest: rgb(6 7 12);
  --md-sys-color-surface-container-low: rgb(28 29 34);
  --md-sys-color-surface-container: rgb(38 40 45);
  --md-sys-color-surface-container-high: rgb(49 50 56);
  --md-sys-color-surface-container-highest: rgb(60 61 67);
  --md-extended-color-custom-color1-color: rgb(178 227 255);
  --md-extended-color-custom-color1-on-color: rgb(0 41 57);
  --md-extended-color-custom-color1-color-container: rgb(86 153 185);
  --md-extended-color-custom-color1-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color2-color: rgb(174 235 183);
  --md-extended-color-custom-color2-on-color: rgb(0 45 17);
  --md-extended-color-custom-color2-color-container: rgb(101 157 112);
  --md-extended-color-custom-color2-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color3-color: rgb(240 221 131);
  --md-extended-color-custom-color3-on-color: rgb(44 37 0);
  --md-extended-color-custom-color3-color-container: rgb(161 145 64);
  --md-extended-color-custom-color3-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color4-color: rgb(255 210 201);
  --md-extended-color-custom-color4-on-color: rgb(72 20 10);
  --md-extended-color-custom-color4-color-container: rgb(204 123 107);
  --md-extended-color-custom-color4-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color5-color: rgb(255 214 157);
  --md-extended-color-custom-color5-on-color: rgb(54 33 0);
  --md-extended-color-custom-color5-color-container: rgb(183 136 63);
  --md-extended-color-custom-color5-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color6-color: rgb(255 208 224);
  --md-extended-color-custom-color6-on-color: rgb(70 18 44);
  --md-extended-color-custom-color6-color-container: rgb(195 123 153);
  --md-extended-color-custom-color6-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color7-color: rgb(255 211 194);
  --md-extended-color-custom-color7-on-color: rgb(71 22 1);
  --md-extended-color-custom-color7-color-container: rgb(202 125 94);
  --md-extended-color-custom-color7-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color8-color: rgb(255 210 203);
  --md-extended-color-custom-color8-on-color: rgb(72 20 12);
  --md-extended-color-custom-color8-color-container: rgb(204 123 110);
  --md-extended-color-custom-color8-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color9-color: rgb(150 235 234);
  --md-extended-color-custom-color9-on-color: rgb(0 43 43);
  --md-extended-color-custom-color9-color-container: rgb(71 158 157);
  --md-extended-color-custom-color9-on-color-container: rgb(0 0 0);
}
