.light-medium-contrast {
  --md-sys-color-primary: rgb(23 53 102);
  --md-sys-color-surface-tint: rgb(68 94 145);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(83 109 161);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(46 54 71);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(101 109 128);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(70 45 73);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(128 100 131);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(249 249 255);
  --md-sys-color-on-background: rgb(26 27 32);
  --md-sys-color-surface: rgb(249 249 255);
  --md-sys-color-on-surface: rgb(15 17 22);
  --md-sys-color-surface-variant: rgb(225 226 236);
  --md-sys-color-on-surface-variant: rgb(51 54 62);
  --md-sys-color-outline: rgb(80 82 90);
  --md-sys-color-outline-variant: rgb(106 109 117);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 48 54);
  --md-sys-color-inverse-on-surface: rgb(240 240 247);
  --md-sys-color-inverse-primary: rgb(173 198 255);
  --md-sys-color-primary-fixed: rgb(83 109 161);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(58 84 135);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(101 109 128);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(77 85 103);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(128 100 131);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(103 76 105);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(198 198 205);
  --md-sys-color-surface-bright: rgb(249 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(243 243 250);
  --md-sys-color-surface-container: rgb(232 231 238);
  --md-sys-color-surface-container-high: rgb(220 220 227);
  --md-sys-color-surface-container-highest: rgb(209 209 216);
  --md-extended-color-custom-color1-color: rgb(0 59 80);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(45 116 148);
  --md-extended-color-custom-color1-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color2-color: rgb(0 64 28);
  --md-extended-color-custom-color2-on-color: rgb(255 255 255);
  --md-extended-color-custom-color2-color-container: rgb(65 121 78);
  --md-extended-color-custom-color2-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color3-color: rgb(63 54 0);
  --md-extended-color-custom-color3-on-color: rgb(255 255 255);
  --md-extended-color-custom-color3-color-container: rgb(123 109 31);
  --md-extended-color-custom-color3-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color4-color: rgb(94 36 25);
  --md-extended-color-custom-color4-on-color: rgb(255 255 255);
  --md-extended-color-custom-color4-color-container: rgb(161 89 74);
  --md-extended-color-custom-color4-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color5-color: rgb(76 49 0);
  --md-extended-color-custom-color5-on-color: rgb(255 255 255);
  --md-extended-color-custom-color5-color-container: rgb(143 101 30);
  --md-extended-color-custom-color5-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color6-color: rgb(90 35 61);
  --md-extended-color-custom-color6-on-color: rgb(255 255 255);
  --md-extended-color-custom-color6-color-container: rgb(155 88 117);
  --md-extended-color-custom-color6-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color7-color: rgb(92 38 13);
  --md-extended-color-custom-color7-on-color: rgb(255 255 255);
  --md-extended-color-custom-color7-color-container: rgb(160 91 62);
  --md-extended-color-custom-color7-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color8-color: rgb(94 36 27);
  --md-extended-color-custom-color8-on-color: rgb(255 255 255);
  --md-extended-color-custom-color8-color-container: rgb(161 89 77);
  --md-extended-color-custom-color8-on-color-container: rgb(255 255 255);
  --md-extended-color-custom-color9-color: rgb(0 61 61);
  --md-extended-color-custom-color9-on-color: rgb(255 255 255);
  --md-extended-color-custom-color9-color-container: rgb(22 121 121);
  --md-extended-color-custom-color9-on-color-container: rgb(255 255 255);
}
